:root {
    font-size: 100%;

    --color-primary: #282828;
    --color-secondary: #282828;
    --color-font: white;

    --color-background: #393939;
    --color-shadow: rgba(0, 0, 0, 0.806);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 550px;
    min-width: 24rem;
    background-color: var(--color-background);
    font-size: 1.6rem;
    font-family: sans-serif;
}

p,
h1 {
    margin: 0;
    color: var(--color-font);
}

h1 {
    font-size: 3.2rem;
}

/* CONTENT */

section {
    display: flex;
    align-items: flex-start;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    min-width: 20rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* TOP BAR */

.top-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: var(--color-primary);
    height: 5rem;
    /* padding: 1rem 0; */
}

/* TIMER */

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: var(--color-font);
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    background-color: var(--color-primary);

    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 15px 10px var(--color-shadow);
    box-shadow: 0px 0px 15px 10px var(--color-shadow);
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    background-color: var(--color-secondary);
    position: relative;
    -webkit-box-shadow: 0px 0px 15px 10px var(--color-shadow);
    box-shadow: 0px 0px 15px 10px var(--color-shadow);
}

.circle::before {
    content: "";
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    opacity: 90%;
    background-color: #0f0f10;
}

.time {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time p {
    font-size: 4rem;
}

/* STATUS */

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: var(--color-primary);
    height: 5rem;
}

.status p {
    font-size: 3rem;
}
